<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de Turnos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="admin/style.css">
</head>
<body>
    <!-- Add this line to your code -->
    <div class="modal fade" id="onload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información Importante</h5>
                </div>
                <div class="modal-body">
                    <p>PASOS A SEGUIR:</p>
                    <p>1.- Revisar la documentacion del contribuyente</p>
                    <p>2.- Seleccionar tramite a realizar</p>
                    <p>3.- Seleccionar el recuadro de escanear QR al momento de escanear</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 
    <!-- Cierre de modal inicial -->

<!-- Modal de Alerta Reutilizable -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-white">
        <div class="modal-header">
          <h5 class="modal-title" id="alertModalLabel">Alerta</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          Aquí va el contenido de la alerta.
        </div>
      </div>
    </div>
  </div>

    <div class="container mt-5">
        
    <a href="../logout" class="btn btn-secondary mb-3">Cerrar Sesión</a>

        <h3 for="tipoTramite" class="text-center" style="padding-right: 79%;">Selecciona el trámite:</h3>
        
        <p></p>
            <select id="tipoTramite">
                <option label="-Seleccione un tramite-"></option>
                <option value="Inscripcion">Inscripción</option>
                <option value="Reanudacion de Actividades">Reanudacion de Actividades</option>
                <option value="Suspension de Actividades">Suspensión de Actividades</option>
                <option value="Baja Definitiva">Baja Definitiva</option>
                <option value="Cambio de RFC">Cambio de RFC</option>
                <option value="Cambio de Nombre, Denominacion o Razon Social">Cambio de Nombre, Denominación o Razón Social</option>
                <option value="Cambio de Domicilio Fiscal en Estado de Durango">Cambio de Domicilio Fiscal en Estado de Durango</option>
                <option value="Cambio de Giro o Actividad">Cambio de Giro o Actividad</option>
                <option value="Cambio de Regimen de Pago">Cambio de Régimen de Pago</option>
                <option value="Otros">Otros</option>
            </select>
        
        <p></p>
        
        <input type="text" id="qrScanner" placeholder="Escanee el código QR aquí" class="form-control mb-3">
        <h2 class="text-center">Administración de Turnos</h2>

        <h4>Módulos conectados:</h4>
        <div id="estadoModulos" class="mb-4 row">
        </div>
        
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Turno</th>
                    <th>Modulo</th>
                    <th>QR Escaneado</th> <!-- Nueva columna para los QR -->
                    <th>Tramite</th>
                </tr>
            </thead>
            <tbody id="adminTurnosBody"></tbody>
        </table>
    </div>
    <script src="/admin/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
