.modal-content.bg-success {
    background-color: #198754 !important;
  }
  
  .modal-content.bg-danger {
    background-color: #dc3545 !important;
  }
  
  .modal-content.bg-info {
    background-color: #0dcaf0 !important;
  }
  
  .modal-content.bg-warning {
    background-color: #ffc107 !important;
    color: #212529 !important;
  }
    